/**
 * @name Cyberyannight Theme
 * @version 1.0.0
 * @description 🤖 a sleek modern cyber look for discord, based on Midnight, features high customibility
 * @website https://github.com/cyb3ry4nd3r3/cyberyannight
 * @author jackcook99#0615
 * @authorId 640661818704003072
**/

@import url("https://bdsources.github.io/sourcecheck/code.css");
@import url(https://bdsources.github.io/sourcecheck/code.css);
@import url(https://tropix126.github.io/BetterDiscordStuff/friendgrid/v3/css/base.css);
@import url(https://discord-custom-covers.github.io/usrbg/snippets/userPopouts.css);
@import url(https://rsms.me/inter/inter.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://monstrousdev.github.io/themes/addons/user-tags.css);
@import url("https://cyb3ry4nd3r3.github.io/cyberyannight/cyberyannightimport.theme.css");

@font-face {
  font-family: 'Segoe UI Emoji';
  src: local('Segoe UI Emoji'), local('SegoeUIEmoji'),
    url('https://intrnl.github.io/fluentdiscord/src/assets/fonts/SegoeUIEmoji.woff2') format('woff2'),
    url('https://cdn.staticaly.com/gh/intrnl/fluentdiscord/master/assets/fonts/SegoeUIEmoji.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Symbol';
  src: local('Segoe UI Symbol'), local('SegoeUISymbol'),
    url('https://intrnl.github.io/fluentdiscord/src/assets/fonts/SegoeUISymbol.woff2') format('woff2'),
    url('https://cdn.staticaly.com/gh/intrnl/fluentdiscord/master/assets/fonts/SegoeUISymbol.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe MDL2 Assets';
  src: local('Segoe MDL2 Assets'), local('SegoeMDL2Assets'),
    url('https://intrnl.github.io/fluentdiscord/src/assets/fonts/SegoeMDL2Assets.woff2') format('woff2'),
    url('https://cdn.staticaly.com/gh/intrnl/fluentdiscord/master/assets/fonts/SegoeMDL2Assets.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI'), local('SegoeUI'),
    url('https://intrnl.github.io/fluentdiscord/src/assets/fonts/SegoeUI.woff2') format('woff2'),
    url('https://cdn.staticaly.com/gh/intrnl/fluentdiscord/master/assets/fonts/SegoeUI.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI Italic'), local('SegoeUI-Italic'),
    url('https://intrnl.github.io/fluentdiscord/src/assets/fonts/SegoeUI-Italic.woff2') format('woff2'),
    url('https://cdn.staticaly.com/gh/intrnl/fluentdiscord/master/assets/fonts/SegoeUI-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI Bold Italic'), local('SegoeUI-BoldItalic'),
    url('https://intrnl.github.io/fluentdiscord/src/assets/fonts/SegoeUI-BoldItalic.woff2') format('woff2'),
    url('https://cdn.staticaly.com/gh/intrnl/fluentdiscord/master/assets/fonts/SegoeUI-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
    url('https://intrnl.github.io/fluentdiscord/src/assets/fonts/SegoeUI-Bold.woff2') format('woff2'),
    url('https://cdn.staticaly.com/gh/intrnl/fluentdiscord/master/assets/fonts/SegoeUI-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

  @font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI Semibold'), local('SegoeUI-Semibold'),
    url('https://intrnl.github.io/fluentdiscord/src/assets/fonts/SegoeUI-Semibold.woff2') format('woff2'),
    url('https://cdn.staticaly.com/gh/intrnl/fluentdiscord/master/assets/fonts/SegoeUI-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI Semibold Italic'), local('SegoeUI-SemiboldItalic'),
    url('https://intrnl.github.io/fluentdiscord/src/assets/fonts/SegoeUI-SemiboldItalic.woff2') format('woff2'),
    url('https://cdn.staticaly.com/gh/intrnl/fluentdiscord/master/assets/fonts/SegoeUI-SemiboldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI Light'), local('SegoeUI-Light'),
    url('https://intrnl.github.io/fluentdiscord/src/assets/fonts/SegoeUI-Light.woff2') format('woff2'),
    url('https://cdn.staticaly.com/gh/intrnl/fluentdiscord/master/assets/fonts/SegoeUI-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI Light Italic'), local('SegoeUI-LightItalic'),
    url('https://intrnl.github.io/fluentdiscord/src/assets/fonts/SegoeUI-LightItalic.woff2') format('woff2'),
    url('https://cdn.staticaly.com/gh/intrnl/fluentdiscord/master/assets/fonts/SegoeUI-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}



/*Begin Source Code*/

/*1. Global Attributes*/

/*1.a. Master Variables*/

:root {
	/*Primary*/
	--lv1:   rgba(0,0,11,1);
	--lv2:  rgba(0,0,11,0.75);
	
	--accent: #1973d3;
	--hover: #135193;
	--bg: url('https://i.imgur.com/VyJyXnR.jpg');
	/*--bg: rgba(255,255,255,1);*/
	
	--tooltip-color:#f6f6f7;
	--bg-opacity:       0.25;
	--bg-fade: 80%;

	/*Support for other themes*/
	--mc: var(--accent);
	--hc: var(--hover);
	--main-color: var(--accent);
	--hover-color: var(--hover);
	--roundness: var(--user-roundness);
	--lvl-bg-opacity:var(--bg-opacity);
	--lvl-bg-fade:var(--bg-fade);	
	--online:var(--success);
	--idle:var(--caution);
	--dnd:var(--danger);
	--offline:var(--unavailable);
	--invisible:var(--invisible);
	--streaming:var(--twitch-purple);

	/*Discord Vars*/
	--deprecated-store-bg: var(--lv1);	
	--background-primary: var(--lv2);
	--background-secondary: var(--lv1);
	--background-secondary-alt:var(--lv1);
	--background-tertiary: var(--lv2);
	--channeltextarea-background:var(--lv1);
	--background-modifier-active:transparent;

	/*Status*/
	
	--success: #11d85d;
	--caution: #ffd104;
	--danger: #e20b0b;
	--unavailable: #636b75;	
	--invisible: #747f8d;
	--information:#4a90e2;
	--twitch-purple: #9146FF;
	--spotify-green:#1DB954;
	--xbox-green:#0e7a0d;
	--netflix-red:#e50914;

	/*Roundness*/
	--user-roundness:0;
	--guilds-roundness:0;

	/*Fonts*/
	--sizelg:1.25rem;
	--size0: 1.15rem;
	--size1: .925rem;
	--size2: .8rem;
	--size3: .75rem;
	--size4: .7rem;
	--size5: .5rem;
	--size6: .35rem;
	--font:    'Inter', BlenderProBold;
	--letter-spacing: -.02rem;
	font-size: 17px !important;

	/*Toasts*/
	--toast-background:var(--lv1);
	   --color-high:           rgba(0,0,20,0.5);
    --color-lowest:    rgba(72,134,161,1);
    --color-low:        rgba(19,81,147,1);
    --color-mid:        rgba(25,115,211,1);
    --color-alert:   rgb(229, 0, 77);
    --color-alert-hover:   rgb(236, 0, 18);
    --color-high-trans:         rgba(0, 0, 19, 0.8);
    --color-low-trans: rgba(184, 217, 209, 0.6);
    --color-alert-trans: rgba(229, 0, 77, 0.7);
    --font: BlenderProBold;
}
/*
.selector {
    color: rgb(var(--lv1, var(--lv2)));
}
.selectorer {
    color: rgba(var(--lv1, var(--lv2)), 0.5);
}
*/
:root {
	
 
}
